/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.navbar-green
{
    background-color: #095540;
}

#nav-link
{
    color: white;
}

#white-btn{
  --bs-btn-color:#fff;--bs-btn-border-color:#fff;
  --bs-btn-hover-color:#000000;
  --bs-btn-hover-bg:#aaaaaa;
  --bs-btn-hover-border-color:#fff;
  --bs-btn-focus-shadow-rgb:24,188,156;
  --bs-btn-active-color:#fff;
  --bs-btn-active-bg:#fff;
  --bs-btn-active-border-color:#fffc;
  --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#fff;
  --bs-btn-disabled-bg:transparent;
  --bs-btn-disabled-border-color:#fff;
  --bs-gradient:none}

  [id="modal"] .bd-example .btn,